.scrollContainer {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none;
}
.scrollContainer::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
